# DataFrame

In [1]:
#import the packages "Pandas" and "MatPlotLib" into Jupyter Notebook
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [19]:
#import Facebook's stock data
fb = pd.read_csv('../data/facebook.csv')

In [20]:
print(fb.head())

         Date       Open       High        Low      Close  Adj Close   Volume
0  2014-12-31  20.400000  20.510000  19.990000  20.049999  19.459270  4157500
1  2015-01-02  20.129999  20.280001  19.809999  20.129999  19.536913  2842000
2  2015-01-05  20.129999  20.190001  19.700001  19.790001  19.206934  4948800
3  2015-01-06  19.820000  19.840000  19.170000  19.190001  18.624611  4944100
4  2015-01-07  19.330000  19.500000  19.080000  19.139999  18.576082  8045200

In [21]:
#It is your turn to import Microsoft's stock data - "microsoft.csv", which is located in the same folder of facebook.csv
#Replace "None" with your code
ms = pd.read_csv('../data/microsoft.csv')

In [22]:
# print head of ms, 1 line
ms.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2014-12-31  46.730000  47.439999  46.450001  46.450001  42.848763  21552500
1  2015-01-02  46.660000  47.419998  46.540001  46.759998  43.134731  27913900
2  2015-01-05  46.369999  46.730000  46.250000  46.330002  42.738068  39673900
3  2015-01-06  46.380001  46.750000  45.540001  45.650002  42.110783  36447900
4  2015-01-07  45.980000  46.459999  45.490002  46.230000  42.645817  29114100

** Expected Output: **

<tr>
    <th>Date</th>
    <th>Open</th>  
    <th>High</th>
    <th>Low</th>
    <th>Close</th>
    <th>Adj Close</th>
    <th>Volume</th>
</tr>
<tr>
    <td>2014-12-31</td>
    <td>46.730000</td>  
    <td>47.439999</td>
    <td>46.450001</td>
    <td>46.450001</td>
    <td>42.848763</td>
    <td>21552500</td>
</tr>
<tr>
    <td>2015-01-02</td>
    <td>46.660000</td>  
    <td>47.419998</td>
    <td>46.540001</td>
    <td>46.759998</td>
    <td>43.134731</td>
    <td>27913900</td>
</tr>
<tr>
    <td>2015-01-05</td>
    <td>46.369999</td>  
    <td>46.730000</td>
    <td>46.250000</td>
    <td>46.330002</td>
    <td>42.738068</td>
    <td>39673900</td>
</tr>
<tr>
    <td>2015-01-06</td>
    <td>46.380001</td>  
    <td>46.750000</td>
    <td>45.540001</td>
    <td>45.650002</td>
    <td>42.110783</td>
    <td>36447900</td>
</tr>
<tr>
    <td>2015-01-07</td>
    <td>45.980000</td>  
    <td>46.459999</td>
    <td>45.490002</td>
    <td>46.230000</td>
    <td>42.645817</td>
    <td>29114100</td>
</tr>

## Show the size of a DataFrame using "Shape"

In [23]:
print(fb.shape)

(780, 7)

In [24]:
# print the shape of ms, 1 line
ms.shape

(780, 7)

## Show summary statistics of a DataFrame

In [25]:
# print summary statistics of Facebook
print(fb.describe())

             Open        High         Low       Close   Adj Close  \
count  780.000000  780.000000  780.000000  780.000000  780.000000
mean    80.212705   81.285654   79.022397   80.264897   79.914215
std     64.226121   65.048907   63.190963   64.198375   64.327846
min     19.250000   19.500000   18.940001   19.139999   18.576082
25%     25.525000   26.085000   24.845000   25.475000   25.134513
50%     53.379999   54.034999   52.930000   53.420000   53.035403
75%    113.322502  115.779999  110.297499  113.702501  113.261238
max    245.770004  249.270004  244.449997  246.850006  246.850006

             Volume
count  7.800000e+02
mean   1.204453e+07
std    8.221848e+06
min    1.311200e+06
25%    7.215200e+06
50%    9.728700e+06
75%    1.408885e+07
max    9.232320e+07

In [26]:
# print summary statistics of Microsoft
ms.describe()

,Open,High,Low,Close,Adj Close,Volume
count,780.000000,780.000000,780.000000,780.000000,780.000000,7.800000e+02
mean,58.912308,59.372308,58.465000,58.945397,56.931553,2.978900e+07
std,12.852040,12.868060,12.802831,12.830350,13.670080,1.522319e+07
min,40.340000,40.740002,39.720001,40.290001,37.267815,7.425600e+06
25%,47.894998,48.295000,47.535001,47.974998,44.792073,2.096685e+07
50%,56.150002,56.640001,55.700001,56.209999,53.775458,2.623125e+07
75%,67.892500,68.174997,67.447500,67.740000,66.565508,3.408020e+07
max,95.139999,96.070000,93.720001,95.010002,94.565781,1.691640e+08

## Locate a particular row of data using "Selection by label"

In [27]:
# select all the price information of Facebook in 2015.
fb_2015 = fb.loc['2015-01-01':'2015-12-31']
fb_2015

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume]
Index: []

In [28]:
fb.loc['2015-01-01':'2015-01-20', 'Open': 'Close']

Empty DataFrame
Columns: [Open, High, Low, Close]
Index: []

In [9]:
fb.loc['2015-01-01':'2015-01-15', 'Close']

NameError: name 'fb' is not defined

In [10]:
# print the price of Facebook on '2015-03-16'
print(fb_2015.loc['2015-03-16'])
fb_2015.head()

NameError: name 'fb_2015' is not defined

In [11]:
ms.loc['2015-03-16']

NameError: name 'ms' is not defined

In [12]:
# select all the price information of Microsoft in 2016.
ms_2016 = ms.loc['2016-01-01':'2016-12-31']

NameError: name 'ms' is not defined

In [13]:
# print the price of Microsoft on '2016-03-16'
ms_2016.loc['2016-03-16']

NameError: name 'ms_2016' is not defined

** Expected Output: **

<tr>
    <td>Open</td>
    <td>5.345000e+01</td>
</tr>
<tr>
    <td>High</td>
    <td>5.460000e+01</td>
</tr>
<tr>
    <td>Low</td>
    <td>5.340000e+01</td>
</tr>
<tr>
    <td>Close</td>
    <td>5.435000e+01</td>
</tr>
<tr>
    <td>Adj Close</td>
    <td>5.187095e+01</td>
</tr>
<tr>
    <td>Volume</td>
    <td>3.169170e+07</td>
</tr>

## Locate a particular row of data using "Selection by position"

In [14]:
# print the opening price of the first row
print(fb.iloc[0, 0])

NameError: name 'fb' is not defined

In [15]:
# print the opening price of the last row
print(ms.iloc[0, 0])
ms.head()

NameError: name 'ms' is not defined

** Expected Output: ** 90.559998

## Plot the stock data using plot() method

In [16]:
plt.figure(figsize=(10, 8))
fb['Close'].plot()
plt.show()

NameError: name 'fb' is not defined

In [17]:
plt.figure(figsize=(10, 8))
# plot only the Close price of 2016 of Microsoft, 1 line 
ms_2016['Low'].plot()
plt.show()

NameError: name 'ms_2016' is not defined

** Expected Ouput: **

<img src="MS2016.png">