# Import data
In this Jupyter Notebook, you will learn how to import data from CSV into Jupyter Notebook

In [1]:
#import the package "Pandas" into Jupyter Notebook
import pandas as pd

In [3]:
#We import the stock data of Facebook into Jupyter Notebook. The CSV file is located in the folder called "Data" in your Workspace
#We then name the DataFrame name as 'fb'
fb = pd.read_csv('../data/facebook.csv')
fb.head()

         Date       Open       High        Low      Close  Adj Close   Volume
0  2014-12-31  20.400000  20.510000  19.990000  20.049999  19.459270  4157500
1  2015-01-02  20.129999  20.280001  19.809999  20.129999  19.536913  2842000
2  2015-01-05  20.129999  20.190001  19.700001  19.790001  19.206934  4948800
3  2015-01-06  19.820000  19.840000  19.170000  19.190001  18.624611  4944100
4  2015-01-07  19.330000  19.500000  19.080000  19.139999  18.576082  8045200

### Instruction
Now is your turn to import the stock price of Microsoft (microsoft.csv), of which the CSV is located in the same folder, and rename the Dataframe in "ms".

In [ ]:
ms = pd.read_csv('../data/microsoft.csv', index_col='Date')
ms.head()

In [ ]:
# run this cell to ensure Microsoft's stock data is imported
print(ms.iloc[0, 1])

** Expected output: ** 46.73